body{
background-color:blueviolet;
font-size: 20px;
color:antiquewhite;
font-family: 'Courier New', Courier, monospace;5
}


/* Header **/
header{
 background-color:burlywood;
 font-size: 25px;
 padding: 20px 70px 5px 1px;
 margin: -7px;
border-bottom-style:double;
min-height:min-content;
}
footer{
background-color: blue;
color: antiquewhite;
text-align: center;
text-decoration-line: underline;
}

